<!DOCTYPE html>
<html lang="en" id="xue">
<head>
    <meta charset="UTF-8">
    <title>知米学堂</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-1.8.3.min.js"></script>

    <script src="../js/index.js"></script>
</head>
<body>
<div class="menu">
    <div class="menu-bg">
        <div class="header">
            <div class="inner">
                <div class="nav clear">
                    <img class="logo" src="../images/logo.svg" alt="">
                    <div class="clear">
                        <a href="../index.html">首页</a>
                        <a href="xuetang.html">学堂</a>
                        <a href="word.html">中学单词宝</a>
                        <a href="">论坛</a>
                    </div>
                    <div class="login">
                        <a href="login.html">登录</a>
                        <a href=""></a>
                        <a href="reg.html">注册</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainlogin">
           <div class="top">
               <div class="inner">
                   <img src="../images/login.png" alt="">
                   <form class="loginform">
                       <h3>登陆知米</h3>
                       <input type="text" placeholder="邮箱" class="user">
                       <input type="text" placeholder="密码" class="password">
                       <div type="submit" class="loginbtn">登陆</div>
                       <div class="nopass"><a href="javascript:;">忘记密码?</a></div>
                       <a href="javascript:;" class="wechat">
                           <div class="icon"></div>
                           <div class="txt">微信账号登录</div>
                       </a>
                       <a href="javascript:;" class="qq">
                           <div class="icon"></div>
                           <div class="txt">QQ账号登录</div>
                       </a>
                       <div class="toreg">
                           <a href="reg.html">注册知米账号>></a>
                       </div>
                   </form>

               </div>
           </div>
           <div class="bot"></div>
        </div>
        <div class="footer">
            <div class="footerinner">
                <div class="top clear">
                    <div class="title">
                        <h2>知米英语</h2>
                        <p>致力于英语教育，革新英语学习的传统方式，让英语学习<br>更高效、更轻松、更有趣。</p>
                    </div>
                    <div class="joinus">
                        <h3>联系我们</h3>
                        <p>新浪微博：@知米背单词</p>
                        <p>客服QQ：2930998402</p>
                        <p>商务合作：zhimiabc@163.com</p>
                        <p>微信公众账号：ZhimiEnglish</p>
                    </div>
                    <div class="partner">
                        <h3>官方合作伙伴</h3>
                        <img src="../images/tuniu.png" alt="">
                    </div>
                    <div class="qr">
                        <img src="../images/qrcode.png" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <ul class="clear">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">加入我们</a></li>
                        <li><a href="">隐私政策</a></li>
                        <li><a href="">帮助中心</a></li>
                    </ul>
                    <p>©2015 杭州蓝脑教育科技有限公司 All Right Reserved 浙ICP备1004763号-2</p>
                    <p><img src="../images/down.png" alt="">浙公网安备 33010502002516号</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
